@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.components{
    display: flex;
    
}

.userList{    
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}

.contenedorUserList{
    background-image: linear-gradient(135deg, #0087d4, #5054b8, #2f3f80, #161569,
            #5aa984, #a950a1, #ff7cae);
    background-size: 500%;
    animation: banimado 5s infinite;
    overflow-y: scroll;
    height: 100vh;
    width: 60%;
}

@keyframes banimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.cardUser{
    width: 450px;
    height: 150px;
    background-color: #ffffff;
    border-radius: 1rem;
    display: flex;
    justify-content: center;  
    align-items: center;      
    margin: 1rem 0;
}

.cardUserInf{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.cardUserInf li{
    list-style: none;
}

.cardUserInf li span{
    color: rgb(151, 145, 145);
}

.cardInf{
    display: flex;
    gap: .5rem;
    align-items: center;
}

.cardUserBtn{
    display: flex;
    justify-content: space-around;
    width: 100px;
}

.fa-trash-can{
    color: red;
    cursor: pointer;
    font-size: 20px;
}

.fa-pencil{
    cursor: pointer;
    font-size: 20px;
}

.UserForm{
    width: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.cardUserForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;        
    border-radius: 1rem;
    padding: 2rem;
    background-color: #f7f7f7;
    width: 480px;
}

.userFormInf{
    display: flex;
    gap: 1rem;
    align-items: center;
}

input{
    height: 30px;
    border-radius: .5rem;
    
    padding-left: 10px;
}

.inputInf{
    width: 325px;
}

.btn{
    height: 30px;
    width: 200px;
    border: none;
    border-radius: 1rem;
    background-color: #0087d4;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    border: 1px solid #0087d4;
    background-color: #fff;
    color: #0087d4;
}